body {
    font-family: "Verdana", sans-serif;
}

blockquote {
    background: #eceff1;
    padding: 3px;
    padding-left: 15px;
    border-left: 5px solid #cfd8dc;
    margin: 0;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

a {
    text-decoration: underline;
    color: #00acc1;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

code {
    background: black;
    color: white;
    padding: 1px;
    border-radius: 3px;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #f1fbfe;
}

#border-canvas {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
